<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>=========== - Contact Page</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="../static/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/assets/css/font-awesome.css">

    <link rel="stylesheet" href="../static/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="../static/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="../static/assets/css/lightbox.css">
     <link rel="stylesheet" href="../static/assets/css/login.css">

    </head>
    
    <body>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#" method="POST" >
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="https://accounts.google.com/" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
      <label for="username">Username</label>
			<input type="text" placeholder="Name" name="username" />
			<input type="email" placeholder="Email" name="email"/>
			<input type="password" placeholder="Password" name="password" />
			<button name="signUp">Sign Up</button>
		</form> 
	</div>
	<div class="form-container sign-in-container">
		<form action="#" method="POST"  >
			<h1>Sign in</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your account</span>
			<input type="email" placeholder="Email" name="email" />
			<input type="password" placeholder="Password" name="password"/>
			<a href="#">Forgot your password?</a>
			<button name="signIn"> Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Hello, Friend!</h1>
				<p>Enter your personal details and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>
			</div>
		</div>
	</div>
</div>


    <!-- jQuery -->
    <script src="./static/assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="./static/assets/js/popper.js"></script>
    <script src="./static/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="./static/assets/js/owl-carousel.js"></script>
    <script src="./static/assets/js/accordions.js"></script>
    <script src="./static/assets/js/datepicker.js"></script>
    <script src="./static/assets/js/scrollreveal.min.js"></script>
    <script src="./static/assets/js/waypoints.min.js"></script>
    <script src="./static/assets/js/jquery.counterup.min.js"></script>
    <script src="./static/assets/js/imgfix.min.js"></script> 
    <script src="./static/assets/js/slick.js"></script> 
    <script src="./static/assets/js/lightbox.js"></script> 
    <script src="./static/assets/js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="./static/assets/js/custom.js"></script>
    <script src="./static/assets/js/login.js"></script>
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>

</html>
